body {
  font-family:
    Georgia, fantasy, 'Courier New', Courier, 
    Arial Black;
  color: blue;
  background-color: aqua;
  margin: 50px;
}

header{
  border: 10px double orangered;
  color: black;
  background-color: rgb(231, 224, 6);
}

h1,
h2,
h4 {
  font-size: 30px;
  text-align: center;
  line-height: 30px;
}

main {
  text-align: left;
  margin: 80px;
  padding-top: 0px;
  padding-left:30px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.todo_list_grid{
  display: grid;
  grid-template-columns: 250px 125px 65px;
}

.due_date_input,
.today_date{
  font-weight:bold;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(221, 249, 249);
  margin: 10px;
}

button{
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(221, 249, 249);
  margin: 10px;
}

.add_task{
  background-color: rgb(6, 231, 6);
}

.todo_list{
  font-family: cursive; 
  color: rgb(255, 0, 157);
}

img{
  width: 13px; 
  height: 15px;
  background-color: white;
}

.reset{
  background-color: red;
}

button hover {
  color: red;
}

footer{
  border: 10px double orangered;
  font-family: impact;
  font-weight: solid;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: rgb(231, 224, 6);
}

footer ul{
  list-style: none;
}